<section class="cta">
    <div class="container mx700">

        <div class="cta__content">
            <h3 class="title">{{ post.meta('cta_title') }}</h3>
            {% if post.meta('cta_subtext') %}<div class="subtext">{{ post.meta('cta_subtext') }}</div>{% endif %}
            <a class="btn" href="{{ post.meta('cta_link').url }}"{{ post.meta('cta_link').target ? ' target="_blank"' }}>{{ post.meta('cta_link').title }}</a>
        </div>

    </div>
</section>
