<nav class="main-nav">
    <ul class="main-nav__menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
        {% for top in menu.get_items %}
            <li class="{{ top.classes | join(' ') }}">

                <a href="{{ top.get_path() }}" itemprop="url">
                    <span itemprop="name">{{ top.title }}</span>
                </a>

                {# SECOND LEVEL #}
                {% if top.get_children %}
                    <ul class="main-nav__second">
                      {% for second in top.get_children %}
                        <li class="{{ second.classes | join(' ') }}">
                            <a href="{{ second.get_path() }}">{{ second.title }}</a>

                                {# THIRD LEVEL
                                    - typically used for mobile in off canvas navigation when sidenav is hidden
                                #}
                                {% if second.get_children %}
                                    <ul class="main-nav__third">
                                      {% for third in second.get_children %}
                                        <li class="{{third.classes | join(' ')}}">
                                            <a href="{{ third.get_path() }}">{{third.title}}</a>
                                        </li>
                                      {% endfor %}
                                    </ul>
                                 {% endif %}
                                {# END THIRD LEVEL #}

                        </li>
                      {% endfor %}
                    </ul>
                 {% endif %}
                 {# END SECOND LEVEL #}

            </li>
        {% endfor %}
			<li><button class="nav-search-button js-open-search" data-mfp-src="#popup-search">{{ source('img/icons/icon-search.svg') }}</button></li>
    </ul>
</nav>
