<nav class="main-nav">
    <ul class="menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
        {% for item in menu.get_items %}
            <li class="nav-main-item {{item.classes | join(' ')}}">

                <a class="nav-main-link" href="{{ item.get_path() }}" itemprop="url">
                    <!-- support schema.org rich snippets for top-level nav items -->
                    <span itemprop="name">{{item.title}}</span>
                </a>

                {# SECOND LEVE #}
                {% if item.get_children %}
                    <ul class="nav-drop">
                      {% for child in item.get_children %}
                        <li class="nav-drop-item">
                            <a href="{{ child.get_path() }}">{{child.title}}</a>
                        </li>
                      {% endfor %}
                    </ul>
                 {% endif %}

            </li>
        {% endfor %}
    </ul>
</nav>