<nav class="main-nav">
{# <nav class="main-nav main-nav--dropdown"> #}

    <ul class="main-nav__menu">
        {% for top in menu.get_items %}
            <li class="{{ top.classes | join(' ') }}">

                <a href="{{ top.get_path() }}">{{ top.title }}{{ top.get_children ? '<button class="nav-expander"></button>' }}</a>

                {# SECOND LEVEL #}
                {% if top.get_children %}
                    <ul class="main-nav__second">
                        {% for second in top.get_children %}
                        <li class="{{ second.classes | join(' ') }}">
                            <a href="{{ second.get_path() }}">{{ second.title }}{{ second.get_children ? '<button class="nav-expander"></button>' }}</a>

                                {# THIRD LEVEL - typically only displayed on mobile #}
                                {% if second.get_children %}
                                    <ul class="main-nav__third">
                                        {% for third in second.get_children %}
                                        <li class="{{third.classes | join(' ')}}"><a href="{{ third.get_path() }}">{{third.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {# END THIRD LEVEL #}

                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {# END SECOND LEVEL #}

            </li>
        {% endfor %}
		<li class="nav-search-button"><button class="js-open-search" data-mfp-src="#popup-search">{{ source('img/icons/icon-search.svg') }}<span>Search</span></button></li>
    
    </ul>
</nav>
