<nav class="main-nav">
    <ul class="main-nav__menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
        {% for top in menu.items %}
            <li class="{{ top.classes | join(' ') }}">

                <a href="{{ top.path }}" itemprop="url">
                    <span itemprop="name">{{ top.title }}</span>
                </a>

                {# SECOND LEVEL #}
                {% if top.children %}
                    <ul class="main-nav__second">
                      {% for second in top.children %}
                        <li class="{{ second.classes | join(' ') }}">
                            <a href="{{ second.path }}">{{ second.title }}</a>

                                {# THIRD LEVEL
                                    - typically used for mobile in off canvas navigation when sidenav is hidden
                                #}
                                {% if second.children %}
                                    <ul class="main-nav__third">
                                      {% for third in second.children %}
                                        <li class="{{third.classes | join(' ')}}">
                                            <a href="{{ third.path }}">{{third.title}}</a>
                                        </li>
                                      {% endfor %}
                                    </ul>
                                 {% endif %}
                                {# END THIRD LEVEL #}

                        </li>
                      {% endfor %}
                    </ul>
                 {% endif %}
                 {# END SECOND LEVEL #}

            </li>
        {% endfor %}
			<li><a class="js-open-search" href="#popup-search">Search</a></li>
    </ul>
</nav>
