{% if menu.get_current_top_level_item() %}
	<span class="mobile-trigger">Menu</span>
	{# Define mobile-trigger element in common.js -- var $trigger = $('.mobile-trigger'); #}
	
	<nav class="side-nav">
		<a href="{{ menu.get_current_top_level_item().get_path }}" class="side-nav-title outer-gutter-left">{{ menu.get_current_top_level_item().title }}</a>

		{% if menu.get_current_top_level_item().get_children() %}
			<div class="side-nav-menu">
				<ul>
					{% for item in menu.get_current_top_level_item().get_children() %}

						<li class="{{ item.classes | join(' ') }}">
							<a href="{{ item.get_path }}">{{ item.title }}</a>

							{# 3rd level nav #}
							{% if item.display_children %}
								<ul>
									{% for sub_item in item.get_children %}
										<li class="{{ sub_item.classes | join(' ') }}">
											<a href="{{ sub_item.get_path }}">{{ sub_item.title }}</a>
										</li>
									{% endfor %}

								</ul>
							{% endif %}
							{# end 3rd level nav #}

						</li>

					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</nav>
{% endif %}
