{% if menu.get_current_top_level_item().get_children() %}
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
	<nav class="subnav">

		<h3 class="subnav__title"><a href="{{ menu.get_current_top_level_item().get_path }}">{{ menu.get_current_top_level_item().title }}</a></h3>

		<ul class="subnav__menu">
			{% for item in menu.get_current_top_level_item().get_children() %}

				<li class="{{ item.classes | join(' ') }}">
					<a href="{{ item.get_path }}">{{ item.title }}</a>

					{# 3rd level nav #}
					{% if item.display_children %}
						<ul>
							{% for sub_item in item.get_children %}
								<li class="{{ sub_item.classes | join(' ') }}">
									<a href="{{ sub_item.get_path }}">{{ sub_item.title }}</a>
								</li>
							{% endfor %}

						</ul>
					{% endif %}
					{# end 3rd level nav #}

				</li>

			{% endfor %}
		</ul>


	</nav>
</div>
{% endif %}
