<!doctype html>

<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% block title %}{{ wp_title }}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="shortcut icon" href="{{ img_url('favicon.ico') }}" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon-76.png" sizes="76x76">
	<link rel="apple-touch-icon" href="img/favicon-120.png" sizes="120x120">
	<link rel="apple-touch-icon" href="img/favicon-152.png" sizes="152x152">

	{{ wp_head }}
</head>
<body class="{{ body_classes | join(' ') }}">
	<div class="site-wrapper">
		<div class="site-pusher">

			{% block container_content %}
				<header class="site-header">
					<a class="logo" href="/" title="{{ site.name }}">{{ site.name }}</a>
					<a class="menu-btn">
						<div class="toggle"><span></span><span></span><span></span><span></span></div>
						<span>Menu</span>
					</a>


					{# {{ get_search_form() }} #}
				</header>

				{% include 'partials/nav.twig' with { menu: primary_menu } only %}

				<main class="site-main">
						{% block main_content %}
							Default main content
						{% endblock %}
				</main>

				{#<aside class="sidebar">
					{{ main_sidebar }}
				</aside>#}

				<footer class="site-footer">
					{% block footer %}
						&copy; {{ 'now' | date('Y') }} Company Name
					{% endblock %}
				</footer>

			{% endblock %}

		</div>
	</div>
	
	<!-- everything below here is included automagically by WP -->
	{{ wp_footer }}
</body>
</html>
