{# just a template for a blog entry, shouldn't be used directly #}

<article class="{{ post.class }}">
	{% block post_header %}
		<header>
			<h2 class="title"><a href={{ post.link }} title="{{ post.title }}">{{ post.title }}</a></h2>
			<div class="post-publish-info">
				<span class="post-author">
					By
					<a href="{{ post.author.link() }}" rel="author">{{ post.author }}</a>
				</span>
				<span class="post-publish-date">{{ post.date }}</span>
			</div>
		</header>
	{% endblock %}

	{% block before_content %}
		{% if post.thumbnail() %}
			<div class="post-thumb-container">
				<img src="{{ post.thumbnail().src('large') }}" alt="{{ post.thumbnail().alt() }}">
			</div>
		{% endif %}
	{% endblock %}

	{% block post_content %}
		<div class="post-content">{{ post.content }}</div>
	{% endblock %}

	{% block after_content %}
		<div class="post-meta">
			<div class="post-terms post-categories">
				{% include 'partials/blog/post-categories.twig' %}
			</div>
			<div class="post-terms post-tags">
				{% include 'partials/blog/post-tags.twig' %}
			</div>
		</div>
	{% endblock %}
</article>
