{% extends 'layouts/main.twig' %}

{% block main_content %}

{# SAMPLE DATA #}
{% set slides =
    [
        {
            image : 'http://placehold.it/1600x580?text=One',
            caption : {
                title : 'Slide Title One Goes Here',
                link : { url : '#', title : 'Learn More' }
            }
        },
        {
            image : 'http://placehold.it/1600x580?text=Two',
            caption : {
                title : 'Slide Title Two Goes Here',
                link : { url : '#', title : 'Learn More' }
            }
        }
    ]
%}

<section class="slideshow{{ slides|length > 1 ? ' flexslider'}}">
    <ul class="slides">
        {% for slide in slides %}
            <li class="hero" style="background-image: url({{ slide.image }});">
                <div class="hero__caption">
                    <div class="caption-text">
                        <h2>{{ slide.caption.title }}</h2>
                        {% if slide.caption.link.url %}
                            <a class="btn" href="{{ slide.caption.link.url }}"{{ slide.caption.link.target ? ' target="_blank"' }}>{{ slide.caption.link.title|default('Learn More') }}</a>
                        {% endif %}
                    </div>
                </div>
            </li>
      {% endfor %}
    </ul>
</section>

<section class="home-content outer-gutter">
	<div class="container">
		<h1>{{ post.title }}</h1>
		<div class="rtecontent">{{ post.content }}</div>

		<h2>Responsive Grid Example</h2>
        <p>http://flexboxgrid.com/ - see <code>less/structure/flexboxgrid.less</code></p>
		<div class="flex-row gutter-lg-fat gutter-mdl-default gutter-md-default gutter-sm-default">

      {# Render a pseudo-dynamic flexbox grid #}
			{% for i in 0..7 %}

        <div class="col-lg-3 col-mdl-3 col-md-4 col-sm-6 col-xs-12">
          <div class="box">
            <img src="https://placehold.it/350x250" alt="" class="full-img" />
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
          </div>
        </div>

			{% endfor %}

		</div><!-- END .flex-row -->

		<h2>Latest Posts</h2>
		<ul>
		{% for postItem in get_latest_posts(4) %}
			<li>
				<a href="{{ postItem.link }}">
					<h4>{{ postItem.title }}</h4>
					<h6>{{ postItem.date }}</h6>
				</a>
			</li>
		{% endfor %}

	</div>
</section>

{% endblock %}
