{% extends 'layouts/main.twig' %}

{% block main_content %}

<section class="hero flexslider">
<ul class="slides">
	<li style="background-image: url(http://placehold.it/1500x690&text=One);">
		<div class="caption outer-gutter">
			<div class="text">
				<h2>Caption for slide one</h2>
				<a class="btn btn--lrg" href="">Learn more</a>
			</div>
		</div>
	</li>
	<li style="background-image: url(http://placehold.it/1500x690&text=Two);">
		<div class="caption outer-gutter">
			<div class="text">
				<h2>Caption for slide two</h2>
				<a class="btn btn--lrg" href="">Learn more</a>
			</div>
		</div>
	</li>
	<li style="background-image: url(http://placehold.it/1500x690&text=Three);">
		<div class="caption outer-gutter">
			<div class="text">
				<h2>Caption for slide three</h2>
				<a class="btn btn--lrg" href="">Learn more</a>
			</div>
		</div>
	</li>
	<li style="background-image: url(http://placehold.it/1500x690&text=Four);">
		<div class="caption outer-gutter">
			<div class="text">
				<h2>Caption for slide four</h2>
				<a class="btn btn--lrg" href="">Learn more</a>
			</div>
		</div>
	</li>
</ul>
</section>

<section class="home-content outer-gutter">
	<div class="container">
		<h1>{{ post.title }}</h1>
		<div class="rtecontent">{{ post.content }}</div>

		<h2>Responsive Grid</h2>
		<p>less/structure/flexboxgrid.less</p>
		<div class="flex-row gutter-lg-fat gutter-mdl-default gutter-md-default gutter-sm-default">
			{% for i in 0..7 %}
			<div class="col-lg-3 col-mdl-3 col-md-4 col-sm-6 col-xs-12">
				<div class="box">
					<img src="http://placehold.it/350x250" alt="" class="full-img" />
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
				</div>
			</div>
			{% endfor %}
		</div><!-- END .flex-row -->

		<h2>Latest Posts</h2>
		<ul>
		{% for postItem in get_latest_posts(4) %}
			<li>
				<a href="{{ postItem.link }}">
					<h4>{{ postItem.title }}</h4>
					<h6>{{ postItem.date }}</h6>
				</a>
			</li>
		{% endfor %}

	</div>
</section>

{% endblock %}
