{% extends 'layouts/main.twig' %}

{% block main_content %}

<div class="slideshow swiper-container{{ post.meta('hero')|length > 1 ? ' js-home-slideshow' }}">

    <div class="swiper-wrapper">
        <!-- Slides -->
        {% for slide in post.meta('hero') %}
        <div class="swiper-slide hero">
            <div class="hero__background" style="background-image: url({{ Image(slide.background_image).src('large') }});"></div>
            <div class="hero__content">
                <div class="content-block" data-swiper-parallax-y="-100" >
                    <h2 class="title">{{ slide.headline }}</h2>
                    {% if slide.subtext %}<div class="subtext">{{ slide.subtext }}</div>{% endif %}
                    {% if slide.button.url %}
                        <a class="btn" href="{{ slide.button.url }}"{{ slide.button.target ? ' target="_blank"' }}>{{ slide.button.title|default('Learn More') }}</a>
                    {% endif %}
                </div>
            </div>
        </div><!-- //.swiper-slide.hero -->
        {% endfor %}
    </div>
    {% if post.meta('hero')|length > 1 %}
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    {% endif %}
</div>

{# HOMEPAGE INTRO #}
{% include 'partials/content-layouts/standard_content.twig'
    with {
        layout : post.meta('intro_content')
    }
%}

{# HOMEPAGE POSTS #}
{% include 'partials/content-layouts/feature_posts.twig'
    with {
        layout : post.meta('latest_posts')
    }
%}

{# HOMEPAGE CTA #}
{% include 'partials/content-layouts/call_to_action.twig'
    with {
        layout : post.meta('call_to_action')
    }
%}


{% endblock %}
