{% extends 'layouts/main.twig' %}

{% block main_content %}

{% include 'partials/hero-interior.twig' with { page_title : newsPage.title } %}

<section class="pattern sitka-search-content-container">
    <div class="container mx950">

		<nav class="category-filter">
            <label for="categoryFilter">Categories</label>
            <select id="categoryFilter">
                <option{{ is_category == false ? ' selected="selected"' }} value="{{ get_blog_url() }}">All Articles</option>
                {% for cat in get_terms('category') %}
                    <option{{ post.slug == cat.slug() ? ' selected="selected"' }} value="{{ cat.link() }}">{{ cat.name }}</option>
                {% endfor %}
            </select>
        </nav><!-- //subnav-filter -->

        <div class="article-list">
            {% for post in posts %}
                {% include 'partials/cards/article-card.twig' with { cardModifier : 'card-article--list', cardCrop : 'article-list-card' } %}
            {% endfor %}
        </div><!-- END .article-list -->

		{% include 'partials/pagination-posts.twig' %}

	</div><!-- //.container -->
</section>
{% endblock %}
