{% extends 'layouts/interior.twig' %}

{% block interior_content %}
  <section class="main-content-area">

    <h1>{{ post.get_field('main_headline') ? post.get_field('main_headline') : post.title }}</h1>

    <div class="rtecontent">{{ post.content }}</div>

    {# CONTENT LAYOUTS #}
    {% for section in post.get_field('layouts') %}
      {% include 'partials/content-layouts/' ~ section.acf_fc_layout ~ '.twig'
        ignore missing
        with { layout: section } only
      %}
    {% endfor %}


  </section>

  {% if post.get_field('include_sidebar') %}
  <aside class="side-area">
      {% for sideBlock in post.get_field('sidebar_content') %}
      <div class="side-block">
          {% if sideBlock.sidebar_title %}<h3 class="title">{{ sideBlock.sidebar_title }}</h3>{% endif %}
          <div class="rtecontent">{{ sideBlock.sidebar_content }}</div>
          {% if sideBlock.sidebar_more_link.url %}
                <a href="{{ sideBlock.sidebar_more_link.url }}"{{ sideBlock.sidebar_more_link.target ? ' target="_blank"':'' }}>{{ sideBlock.sidebar_more_link.text }}</a>
          {% endif %}
      </div>
      {% endfor %}
  </aside>
  {% endif %}

{% endblock %}
