{% extends 'layouts/main.twig' %}

{% block main_content %}
	{% if posts %}
		<p>{{ posts | length }} result(s) for <strong>{{ search_query }}</strong>:</p>

		{% for post in posts %}
			<article class="search-result">
				<a href="{{ post.permalink }}"><h2>{{ post.title }}</h2></a>
				<div class="post-content post-excerpt">{{ post.content | excerpt }}</div>
				<div class="post-read-more-wrap">
					<a href="{{ post.link }}" class="post-link">Read More</a>
				</div>
			</article>
		{% endfor %}

	{% else %}
		<p>Sorry, we couldn't find anything about <strong>{{ search_query }}</strong></p>
	{% endif %}
{% endblock %}