{% extends 'layouts/main.twig' %}


{% block main_content %}

<article class="sitka-search-content-container">

	<div class="pattern pattern--article">

		<header class="article__header">
			<div class="container container--md">
				<h1 class="title">{{ post.title }}</h1>
				<div class="byline">
					<span class="post-author">By <a href="{{ post.author.link() }}">{{ post.author }}</a></span>
					<span class="post-date">On {{ post.date }}</span>
				</div><!-- //byline -->

				{% if post.thumbnail() %}
<<<<<<< HEAD
					{# Rich Snippet markup for the Featured Image. Note: Google won't display a Rich Snippet without one of these #}
					<div class="feature-image" itemscope itemprop="image" itemtype="http://schema.org/ImageObject">
						<img src="{{ post.thumbnail().src('gallery') }}" alt="{{ post.thumbnail().alt() | default(post.title) }}" itemprop="url">
						<meta itemprop="width" content="{{ post.thumbnail().width('large') }}">
						<meta itemprop="height" content="{{ post.thumbnail().height('large') }}">
=======
					<div class="feature-image">
						<img loading="lazy" src="{{ Image(post.thumbnail()).src('gallery') }}" alt="{{ Image(post.thumbnail()).alt() | default(post.title) }}" width="950px" height="600px">
>>>>>>> master
					</div>
				{% endif %}

			</div>
		</header>

		<div class="article__content">
			<div class="container container--md">
				

				<div class="rtecontent">{{ post.content }}</div>

				<div class="article__taxonomies">
					{% include 'partials/blog/post-categories.twig' %}
					{% include 'partials/blog/post-tags.twig' %}
				</div>

			</div>
		</div>

	</div><!-- //.pattern--article -->

	<footer class="pattern pattern--article-footer">
		<div class="container">

				<div class="pattern__header">
					<h2>Related Articles</h2>
				</div>

				<div class="grid-container">
				{% for postItem in related %}
					
						{% include 'partials/cards/article-card.twig' with { post : postItem, cardCrop : 'article-card' } %}
					
				{% endfor %}
				</div>

				<div class="pattern__footer">
					<a href="{{ get_blog_url() }}" class="btn">Back to News</a>
				</div>

		</div>
	</footer>
	{# function( 'comments_template' ) #}

</article>


{% endblock %}
