{#
  ACCORDION
  * less/elements/layouts/pattern-accordion.less
  * js/src/jquery.accordion.js
#}
<section class="pattern pattern--accordion">
    <div class="container container--md">

        {% if layout.section_headline %}
            <h2 class="pattern__headline">{{ layout.section_headline }}</h2>
        {% endif %}

        {% if layout.section_content %}
            <div class="rtecontent">{{ layout.section_content }}</div>
        {% endif %}

        <dl class="accordion">
        {% for panel in layout.accordion_panels %}

            <dt><h3 class="accordion__title">
                <button id="accordion_panel_title_{{ parent_loop.index ~'_'~ loop.index }}" aria-controls="accordion_panel_{{ parent_loop.index ~'_'~ loop.index }}" aria-expanded="false" >
                    <span>{{ panel.panel_headline }}</span>
                </button>
            </h3></dt>
            <dd class="accordion__content rtecontent" id="accordion_panel_{{ parent_loop.index ~'_'~ loop.index }}" aria-labeledby="accordion_panel_title_{{ parent_loop.index ~'_'~ loop.index }}">{{ panel.panel_content }}</dd>

        {% endfor %}
        </dl>

    </div>
</section>
