{#
  ACCORDION
  * less/elements/layouts/pattern-accordion.less
  * js/src/jquery.accordion.js
#}
<section class="pattern pattern--accordion">
    <div class="container container--md">

        {% if layout.section_headline %}
            <h2 class="pattern__headline">{{ layout.section_headline }}</h2>
        {% endif %}

        {% if layout.section_content %}
            <div class="rtecontent">{{ layout.section_content }}</div>
        {% endif %}

        <div class="accordion">
        {% for panel in layout.accordion_panels %}
            <details id="accordion-panel{{ parent_loop.index ~'_'~ loop.index }}">
                <summary>{{ panel.panel_headline }}</summary>
                <div class="rtecontent">{{ panel.panel_content }}</div>
            </details>
        {% endfor %}
        </div>

    </div>
</section>
