<section class="pattern pattern--pad pattern--cta">
    <div class="container mx700">

            <h3 class="title">{{ layout.cta_headline }}</h3>
            {% if layout.cta_subtext %}
                <div class="subtext">{{ layout.cta_subtext }}</div>
            {% endif %}
            {% if layout.cta_button.url %}
                <a class="btn" href="{{ layout.cta_button.url }}"{{ layout.cta_button.target ? ' target="_blank"' }}>{{ layout.cta_button.title|default('Learn More') }}</a>
            {% endif %}

    </div>
</section>
