<section class="pattern pattern--gallery">
    <div class="container mx950">

		{% if layout.section_headline %}
			<h2 class="pattern__headline">{{ layout.section_headline }}</h2>
		{% endif %}

        <div class="gallery">
            <div class="swiper gallery__slideshow {{ layout.gallery|length > 1 ? ' js-gallery-slides' }}">
                <div class="swiper-wrapper">
                    {% for slide in layout.gallery %}
                        <div class="swiper-slide">
                            <img src="{{ Image(slide.id).src('gallery') }}" alt="{{ Image(slide.id).alt() }}" width="950px" height="600px">
                            {% if slide.caption %}
                            <div class="slide-caption">{{ slide.caption | striptags }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div><!-- //.swiper-container.gallery-slideshow -->

            <div class="swiper gallery__thumbs {{ layout.gallery|length > 1 ? ' js-gallery-thumbs' }}">

                <div class="swiper-wrapper">
                    {% for slide in layout.gallery %}
                        <div class="swiper-slide"><img src="{{ Image(slide.id).src('thumbnail') }}" alt="{{ Image(slide.id).alt() }}" width="140px" height="140px"></div>
                    {% endfor %}
                </div>

      </div><!-- //.swiper-container.gallery-thumbs -->
		</div><!-- //.gallery -->


  </div>
</section>
