<footer class="site-footer">
    <div class="container">

        <div class="footer-top">
            <div class="footer-top__info">
                <a class="footer-logo" href="/" title="{{ site.name }}">{{ source('img/logo-ondark.svg') }}</a>
                {% if get_theme_setting('social') %}
                    <ul class="footer-social">
                        {% for social in get_theme_setting('social') %}
                            <li><a href="{{ social.url }}" target="_blank"><span aria-hidden="true">{{ source('img/social-icons/social-'~ social.type ~'.svg', ignore_missing = true) }}</span><span class="sr-only">{{ social.type }}</span></a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="footer-top__nav">
                <ul>
                    {% for top in primary_menu.get_items %}
                        <li><a href="{{ top.link }}"{{ top.target  ? ' target="_blank"' }}>{{ top.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p class="copyright-line">&copy; {{ 'now' | date('Y') }} {{ site.name }}, All Rights Reserved. <a href="https://www.sitecrafting.com" target="_blank">Website Design and Development by SiteCrafting</a></p>
            {% if get_theme_setting('copyright_links') %}
            <p class="copyright-links">
            {% for cplinks in get_theme_setting('copyright_links') %}
                <a href="{{ cplinks.link.url }}"{{ cplinks.link.target ? ' target="_blank"' }}>{{ cplinks.link.title }}</a>{{ loop.last ? '' : ' | ' }}
            {% endfor %}
            </p>
            {% endif %}
        </div>
    </div>
</footer>