{% if slides %}
	<div class="swiper-container gallery-slideshow">

		<div class="swiper-wrapper">
			{% for slide in slides %}
				<div class="swiper-slide">
					<img src="{{ Image(slide.id).src('gallery') }}" alt="{{ Image(slide.id).alt() }}">
					{% if slide.caption %}
						<div class="slide-caption">{{ slide.caption | striptags }}</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>

		<div class="swiper-button-prev"></div>
   		<div class="swiper-button-next"></div>

	</div>

	<div class="swiper-container gallery-thumbs">

		<div class="swiper-wrapper">
			{% for slide in slides %}
				<div class="swiper-slide">
					<img src="{{ Image(slide.id).src('gallery') }}" alt="{{ Image(slide.id).alt() }}">
				</div>
			{% endfor %}
		</div>

	</div>
{% endif %}
