{% if slides %}
	<div class="swiper-container gallery-swiper-top">

		<div class="swiper-wrapper">
			{% for slide in slides %}
				<div class="swiper-slide">
					<img src="{{ Image(slide.id).src('gallery') }}" alt="{{ Image(slide.id).alt() }}">
					{% if slide.caption %}
						<div class="slide-caption">{{ slide.caption | striptags }}</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>

		<div class="gallery-controls">
			<button class="swiper-button-prev">{{ source('img/arrows/streamline-chevron-white-left@20x20.svg') }}</button>
			<button class="swiper-button-next">{{ source('img/arrows/streamline-chevron-white-right@20x20.svg') }}</button>
		</div>

	</div>

	<div class="swiper-container gallery-swiper-thumbs">

		<div class="swiper-wrapper">
			{% for slide in slides %}
				<div class="swiper-slide">
					<img src="{{ Image(slide.id).src('gallery') }}" alt="{{ Image(slide.id).alt() }}">
				</div>
			{% endfor %}
		</div>

	</div>
{% endif %}
