
{% set content_image_row_amount = image_row|length %}

<div class="feature-image-row{% if content_image_row_amount == 1 %} single-image{% endif %}">
  {% for image_item in image_row %}
      {% if content_image_row_amount == 3 %}
        <div class="img-item">
            {# create small size to use #}
          <div class="img"><img src="{{ TimberImage(image_item.ir_image).src('image-row-small') }}" alt="{{ TimberImage(image_item.ir_image).alt() }}" /></div>
          <span class="img-row-caption">{{image_item.ir_caption}}</span>
        </div>
      {% elseif content_image_row_amount == 2 %}
        <div class="img-item">
            {# create medium size to use #}
          <div class="img"><img src="{{ TimberImage(image_item.ir_image).src('image-row-medium') }}" alt="{{ TimberImage(image_item.ir_image).alt() }}" /></div>
          <span class="img-row-caption">{{image_item.ir_caption}}</span>
        </div>
      {% else %}
        <div class="img-item">
            {# create large size to use #}
          <div class="img"><img src="{{ TimberImage(image_item.ir_image).src('image-row-large') }}" alt="{{ TimberImage(image_item.ir_image).alt() }}" /></div>
          <span class="img-row-caption">{{image_item.ir_caption}}</span>
        </div>
      {% endif %}
  {% endfor %}
</div><!-- END .feature-image-row -->
