<nav id="main-navigation" data-visible="false" class="main-nav">
{# <nav class="main-nav main-nav--dropdown"> #}

    <ul class="main-nav__menu">
        {% for top in menu.get_items %}
            <li class="{{ top.classes | join(' ') }}">
                <div>
                    <a href="{{ top.link }}"{{ top.target ? 'target="' ~ top.target ~'"' : '' }}>{{ top.title }}</a>
                    {{ top.children ? '<button class="nav-expander" aria-controls="sub-nav' ~ loop.index ~'" aria-expanded="false"><span class="sr-only">Expand Subnav</button>' }}
                </div>
                {# SECOND LEVEL #}
                {% if top.children %}
                    <ul id="sub-nav{{ loop.index }}" class="main-nav__second" data-visible="false">
                        {% for second in top.children %}
                        <li class="{{ second.classes | join(' ') }}">
                            <div>
                                <a href="{{ second.link }}"{{ second.target ? 'target="' ~ second.target ~'"' : '' }}>{{ second.title }}</a>
                                {{ second.children ? '<button class="nav-expander" aria-controls="sub-nav' ~ loop.index ~'" aria-expanded="false"><span class="sr-only">Expand Subnav</button>' }}
                            </div>
                            {# THIRD LEVEL #}
                            {% if second.children %}
                                <ul id="sub-nav{{ loop.index }}" class="main-nav__third" data-visible="false">
                                    {% for third in second.children %}
                                    <li class="{{ third.classes | join(' ') }}">
                                        <a href="{{ third.link }}"{{ third.target ? 'target="' ~ third.target ~'"' : '' }}>{{ third.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {# END THIRD LEVEL #}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {# END SECOND LEVEL #}
            </li>
        {% endfor %}
        <li class="nav-search-button"><button popovertarget="popover-search">{{ source('img/icons/icon-search.svg') }}<span>Search</span></button></li>
    </ul>

</nav>
