<article {{ fn('post_class', ['$classes', 'entry'] ) }}>

    {{ fn('timber_set_product', post) }}

    <div class="media">

        {% if showthumb %}
            <div class="media-figure {% if not post.thumbnail %}placeholder{% endif %}">
                <a href="{{ post.link }}">
                    {% if post.thumbnail %}
                        <img src="{{ post.thumbnail.src|resize(post_thumb_size[0], post_thumb_size[1]) }}" />
                    {% else %}
                        <span class="thumb-placeholder"><i class="icon-camera"></i></span>
                    {% endif %}
                </a>
            </div>
        {% endif %}

        <div class="media-content">
            {##
            # woocommerce_before_shop_loop_item_title hook.
            #
            # @hooked woocommerce_show_product_loop_sale_flash - 10
            # @hooked woocommerce_template_loop_product_thumbnail - 10
            #}
            {% do action('woocommerce_before_shop_loop_item_title') %}

            {% if post.title %}
                <h3 class="entry-title"><a href="{{ post.link }}">{{ post.title }}</a></h3>
            {% else %}
                <h3 class="entry-title"><a href="{{ post.link }}">{{ fn('the_title') }}</a></h3>
            {% endif %}

            {##
            # woocommerce_after_shop_loop_item_title hook.
            #
            # @hooked woocommerce_template_loop_rating - 5
            # @hooked woocommerce_template_loop_price - 10
            #}
            {% do action( 'woocommerce_after_shop_loop_item_title' ) %}
            {##
            # woocommerce_after_shop_loop_item hook.
            #
            # The second parameter is currently needed to prevent an issue with Timber action calls.
            #
            # @hooked woocommerce_template_loop_product_link_close - 5
            # @hooked woocommerce_template_loop_add_to_cart - 10
            #}
            {% do action( 'woocommerce_after_shop_loop_item' ) %}

        </div>

    </div>

</article>